{% extends "plantacion_cards_p_e/base.html" %}
{% load static %}


{% block title %}PLANTACION{% endblock %}

{% block content %}

  {% for cardpe in cardpes %}

  <div class="col-xl-6 d-flex justify-content-center">
    <div class="card card-etapas border-black mb-4" style="max-width: 900px;">
        <div class="row g-0">
        <div class="col-md-5">
            <img src="{{ cardpe.imagen.url }}" class="img-fluid rounded-0" style="width: 100%;">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h1 class="card-title fw-bold">{{ cardpe.titulo }}</h1>
              <p class="card-text fs-5">{{ cardpe.tipo }}</p>
              <a href="{{ cardpe.urlDestino }}" class="btn btn-success mt-5">Ver</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>

  {% endfor %}
{% endblock %}