{% extends "plantacion_cards_p_e/base.html" %}
{% load static %}


{% block title %}PLANTACION{% endblock %}

{% block content %}

  {% for cardpe in cardpes %}

 <div class="col-xl-4 col-lg-4 col-md-4 d-flex justify-content-center">
    <div class="card mb-2" style="width: 40rem;"><a href="{{cardpe.urlDestino}}" class="text-decoration-none text-black">
      <img src="{{ cardpe.imagen.url }}" class="card-img-top">
      <div class="card-body">
        <p class="card-tipo fs-3 fw-bold ">{{ cardpe.tipo }}</p>
        <p class="card-text fw-bold fs-3"> {{ cardpe.titulo }}</p>
      </div>
      </a>
    </div>
    </div>

  {% endfor %}
{% endblock %}
