{% extends "etapa_elecion_semilla/base.html" %}
{% block title %}ELECCION SEMILLA{% endblock %}
{% block content %}

{% for variedade_info in variedade_infos %}
    <div class="container-fluid mt-5">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header border border-3 border-success rounded rounded-3" id="headingOne">
                    <button class="accordion-button fw-bold fs-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      {{ variedade_info.nombre }}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-7 order-md-1 order-2">
                                <p class=" fw-semibold">{{ variedade_info.descripcion}}</p>
                                <p class="fw-semibold">{{ variedade_info.a_tener_en_cuenta}}</p>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center order-md-2 order-1 mb-3 mb-md-0">
                                <img src="media/modulos/image 8.png" alt="Trabajador de café" class="img-fluid rounded">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
{% endblock %}