{% extends "etapa_elecion_semilla/base.html" %}
{% load static %}

{% block title %}ELECCION SEMILLA{% endblock %}

{% block content %}

{% for variedade_info in variedade_infos %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="container-fluid mt-4">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header border border-3 border-success rounded rounded-3" id="headingOne">
                    <button class="accordion-button fw-bold fs-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      {{ variedade_info.nombre }}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-7 order-md-1 order-2">
                                <p class="fw-semibold fs-5">{{ variedade_info.descripcion}}</p>
                                <div class=" mt-5">
                                <h2 class="fw-bold mb-4">A TENER EN CUENTA:</h2>
                                <ul class="fs-5">
                                <li class="fw-semibold">{{ variedade_info.a_tener_en_cuenta}}</li>
                                <li class="fw-semibold">{{ variedade_info.a_tener_en_cuenta2}}</li>
                                <li class="fw-semibold">{{ variedade_info.a_tener_en_cuenta3}}</li>
                                </ul>
                               </div> 
                            </div>
                            <div class="col-md-5  order-md-2 order-1 mb-3 mb-md-0">
                                <img src="{{ variedade_info.imagen.url }}" class="img-fluid rounded img-accordion">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
{% endblock %}