{% extends "broca/base.html" %}
{% load static %}


{% block title %}Broca{% endblock %}

{% block content %}

  {% for broca in brocas %}
    <div class="col-xl-6 mt-4">
          <h1 class="fw-bold">{{ broca.nombre }}</h1>
          <h2 class="fw-bold">{{ broca.tipo }}</h2>
            <h1 class="fw-bold mt-4">Sintomas:</h1>
            <p class="fw-semibold">{{ broca.sintomas }}</p>
            <h1 class="fw-bold">Descripcion</h1>
          <p class="fw-semibold">{{ broca.descripcion |truncatewords:100 }}</p>
     </div>

    <div class="col-xl-5 mt-4">
            <img src="{{ broca.imagen.url }}" class="img-fluid rounded-0 d-flex justify-content-center">
            <h3 class="fw-bold mt-3 ">Metodos de prevencion:</h3>
            <p class="fw-semibold ">{{ broca.mdp }}</p>
    </div>
 
  {% endfor %}
{% endblock %}
