{% extends "broca/base.html" %}
{% load static %}


{% block title %}Broca{% endblock %}

{% block content %}

  {% for broca in brocas %}
    <div class="col-xl-6 ms-3 mt-4">
        <div class="col-xl-9">
          <h1 class="fw-bold">{{ broca.nombre }}</h1>
          <h2 class="fw-bold">{{ broca.tipo }}</h2>
        </div>
        <div class="col-xl-9 mt-5">
            <h3 class="fw-bold">Sintomas:</h3>
            <p class="">{{ broca.sintomas }}</p>
            <h2 class="fw-bold">Descripcion</h2>
          <h3 class="">{{ broca.descripcion |truncatewords:100|linebreaks }}</h3>
        </div>
     </div>

    <div class="col-xl-5 mt-4">
        <div class="col-xl-12">
            <img src="{{ broca.imagen.url }}" class="img-fluid rounded-0" style="width: 800px;">
            <div class="col-xl-12">
            <h3 class="fw-bold mt-3">Metodos de prevencion:</h3>
            <p class="">{{ broca.mdp }}</p>
            </div>
        </div>
    </div>
 
  {% endfor %}
{% endblock %}
