{% extends "consejos_para_su_cultivo/base.html" %}
{% block title %}Consejos para su cultivo{% endblock %}
{% block content %}

{% for etapa in etapas %}
<div class="col-xl-5">
  <div class="card card-etapas border-black mb-4" style="max-width: 1000px;">
      <div class="row g-0">
        <div class="col-md-7">
          <div class="card-body">
            <h1 class="card-title fw-bold">{{ etapa.titulo }}</h1>
            <a href="{{ etapa.urlDestino }}" class="btn btn-success mt-4">Ver Más</a>
          </div>
        </div>
        <div class="col-md-5">
          <img src="{{ etapa.imagen.url }}" class="img-fluid card-img-end justify-content-end p-3" style="width: 100%;">
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}